body{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    align-items: center;
    color:#212121;
    font-family: sans-serif;
    
}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
}

ul{

width: 100%;
display: flex;
justify-content: space-between;
padding-top: 10px;
padding-bottom: 8px;
background-color:#f1f8d1 ;

}

li {
    list-style-type:none;
    color: #212121;
    font-family:'Chakra Petch', sans-serif;

    
}


.btnend{
 display: flex;
justify-content: flex-end;
padding-bottom: 20px;
color: #eb5c48;
}


.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  
}
.pop-uno{
    background-color: white;
    color: #455a64 ;
    border: 1px solid #bdbdbd ;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
}

.pop-blue{
 border-top: 3px solid #040a2e ;
 border-radius: 5px;

}

.pop-green{
    border-top: 3px solid #009688 ;
 border-radius: 5px;
    
}


.nomTarea{
    border: 1px solid #dee2e6;
    border-radius: .375rem;

}
.barra-prioridad{
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.barra-prioridad p{
    font-size: 9px;
    margin-block: 0px;
}

input#btn-gris{
appearance:none;
border-radius: 2px;
padding: 7px 5px ;
background-color:white;
border: 3px solid #040a2e;
}

input#btn-gris:checked{
    background-color:#040a2e;
    
}

input#btn-verde{
    appearance:none;
    border-radius: 2px;
    padding: 7px 5px ;
    background-color:white;
    border: 3px solid #00962d;
    }


input#btn-verde:checked {
    background-color:#009688;

}

input#btn-violeta{
    appearance:none;
    border-radius: 2px;
    padding: 7px 5px ;
    background-color:white;
    border: 3px solid #7b1fa2;    
  }

input#btn-violeta:checked{
    background-color: #7b1fa2;
  }

input#btn-rojo{
    appearance:none;
    border-radius: 2px;
    padding: 7px 5px ;
    background-color:white;
    border: 3px solid #f50057;
   }
   input#btn-rojo:checked{

   background-color: #f50057;
   }


.cancelame-one{
    color:#5ebeb5;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #5ebeb5 ;
    padding: 5px;
    margin-right:10px ;
    font-family:'Chakra Petch', sans-serif;
    font-weight: 600;
   
}

.cancelame-one:hover {
    color:#fff;
    background-color: #5ebeb5;

}

.botones{
    display: flex;
    
    justify-content: flex-end;
    width: 100%;
    


    
}

.agregame-one{
    color:white;
    background-color: #eb5c48;
    border-radius: 4px;
    border: 2px solid #eb5c48;
    padding: 5px;
    font-family:'Chakra Petch', sans-serif;
    font-weight: 800;

   }

.agregame-one:hover {
    color:#eb5c48;
    background-color: white;

}

.centrado{
    display: none;
}

.ficha{
    display: none;
}

.active{
    display: flex;
}

.ninguno{
    display: none;
}


.ficha:active{
    display: flex;
    justify-content: flex-start;
}

.cont{
    border: 2px solid #ebebeb;
    border-radius: 5px;
    background-color: #f4f7f9;
    width: 330px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}



.texto{
   
    width: 100%;
    display: flex;
    flex-direction: column;

   
    
  
}

.listi {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60px;
    height: 70px;
    padding: 5px;
}

#soyh2{
    display: flex;
  
    font-family: 'Chakra Petch', sans-serif;
    color: #eb5c48;
    font-weight: 800;
    font-size: 30px;
    margin-block: 0px;

}

#soyunh4{
    display: flex;
    font-family: sans-serif;
    font-weight: bolder;
    color: #212121;
     font-size: 15px;
     padding-left: 3px;
     margin-block: 0px;
   
}

#soyunh6{
    display: flex;
    font-family: sans-serif;
    font-weight: bolder;
    color: #434343;
     font-size: 11px;
     padding-left: 3px;
     padding-top: 3px;
    

}

.tareas{
    z-index: 0;
    position: absolute;
    margin-top: 60%;
}
.playbtn{

    

   
   
}
.playbtn img{
    width: 70%;
    margin:0 auto;
    padding: 0;
    display: block;
    

    
}

.playbtn h1{
padding-top: 15px;
font-family: 'Chakra Petch', sans-serif;
font-weight: 800;
color: #eb5c48;
font-size: 21px;
text-align: center;
}

.listadeTareas{
    z-index: -1;
    position: absolute;
    top: 0;
    margin-top: 70px;
    
}