body{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    align-items: center;
    color:#212121;
    font-family: sans-serif;
    
}
.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
}

ul{
width: 100%;
display: flex;
justify-content: space-between;
padding-top: 10px;
padding-bottom: 8px;
background-color:#f1f8d1 ;

}

li {
    list-style-type:none;
    color: #212121;
    font-family:'Chakra Petch', sans-serif;

    
}

.playbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section img{
        width: 70%;
    
}

section h1{
padding-top: 15px;
font-family: 'Chakra Petch', sans-serif;
font-weight: 800;
color: #eb5c48;
font-size: 21px;
}


.btnend{
 display: flex;
justify-content: flex-end;
padding-bottom: 20px;
color: #eb5c48;
}


.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pop-uno{
 
    color: #455a64 ;
    border: 1px solid #bdbdbd ;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
}
.nomTarea{
    border: 1px solid #dee2e6;
    border-radius: .375rem;

}
.barra-prioridad{
    padding-bottom: 20px;
    padding-top: 20px;
    
}

.barra-prioridad p{
    font-size: 9px;
    margin-block: 0px;
}

.btn-gris{
padding: 7px 5px ;
background-color:#1e88e5;
border: 0px solid #cfd8dc;
}

.btn-verde{
    padding: 7px 5px ;
    background-color:#009688;
    border: 0px solid #cfd8dc;
    }

.btn-naranja{
   padding: 7px 5px ;
   background-color:#7b1fa2;
   border: 0px solid #cfd8dc;
  }

  .btn-rojo{
    padding: 7px 5px ;
    background-color:#f50057;
    border: 0px solid #cfd8dc;
   }
.cancelame-one{
    color:#5ebeb5;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #5ebeb5 ;
    padding: 5px;
    margin-right:10px ;
    font-family:'Chakra Petch', sans-serif;
    font-weight: 600;
   
}

.cancelame-one:hover {
    color:#fff;
    background-color: #5ebeb5;

}

.botones{
    display: flex;
    
    justify-content: flex-end;
    width: 100%;
    


    
}

.agregame-one{
    color:white;
    background-color: #eb5c48;
    border-radius: 4px;
    border: 2px solid #eb5c48;
    padding: 5px;
    font-family:'Chakra Petch', sans-serif;
    font-weight: 800;

   }

.agregame-one:hover {
    color:#eb5c48;
    background-color: white;

}

.centrado{
    display: none;
}

.ficha{
    display: none;
}

.active{
    display: flex;
}

.ninguno{
    display: none;
}


.ficha:active{
    display: flex;
    justify-content: flex-start;
}

.ficha{
    border: 2px solid #ebebeb;
    border-radius: 5px;
    background-color: #f4f7f9;
}
.texto{

    width: 100%;
}

.listi {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60px;
    height: 70px;
    padding: 5px;
}

.ficha h2{
    display: flex;
    flex-direction: row;
    font-family: 'Chakra Petch', sans-serif;
    color: #eb5c48;
    font-weight: 800;
    font-size: 30px;
    margin-block: 0px;

}

.ficha h4{
    display: flex;
    font-family: sans-serif;
    font-weight: bolder;
    color: #212121;
     font-size: 15px;
     padding-left: 3px;
     margin-block: 0px;
   
}

.ficha h6{
    display: flex;
    font-family: sans-serif;
    font-weight: bolder;
    color: #434343;
     font-size: 11px;
     padding-left: 3px;
     padding-top: 3px;
    

}


