/* Querido Johnny =D tengo problemas para centrar los elementos, por ejemplo en la botonera tuve que agregar un margin-right:15% para que quedara centrado. No se eso es
una buena practica porque en cada celu supongo que se vera diferente. Probé de varias formas pero no me tomaba ni justify-content ni justify-items, asi que ojala leas esto
y puedas resolver mi duda! Besote! 
-------UPDATE
Vi la Jam y ya resolvi el problema del margin =) Tambien me hizo querer cambiar toda la estructura del index pero preferi mantenerlo como lo habia hecho, ajustando lo que
no era 100% responsive y ver que correcciones habia al respecto. 
Gracias Jony!
UPDATE Ultimo ( I hope so)
Subi la web al link pero por mi celu se ve re distinto asi que ajuste tamaños y tipografia en relación a como lo veo en el celu
Beso!
*/

body{
margin:0 auto;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
color: whitesmoke;    
background-color: black; 
padding: 0;
}


.logo {
    padding-top: 30px;
    width: 300px;
    margin: 0 auto;
    display: flex;  

}
header{
    padding: 0;
    max-width: 360px;
    margin: 0 auto;
}

h5 {
   margin: 12px;
   font-weight: 800;
    font-size: 12px;  
    text-align: center;
    
   }

nav{
    width: 80%;
    margin:0 auto;
    padding-top: 6px;
}

nav ul{
text-align: center;
margin-right: 15%;
padding: 0;
max-width: 380px;
margin: 0 auto;
}

nav ul li{
display: inline-block;
padding-left: 8px;
}

nav ul li a img{
    width: 45px;
}

section{
    width: 70%;
    margin:0 auto;
    min-height: 50vh;  
}

p{
text-align: center;
font-size: 18px;
padding: 0;
max-width: 360px;
margin: 0 auto;
margin-top: 15px;

}

.botonera{
padding: 0px;
padding-top: 8px;
padding-bottom: 70px;
max-width: 350px;
margin: 0 auto;

}

.botonera a{
    font-size: 17px;
    text-decoration: none;
    color:white;
    display: block;    
    text-align: center;
    background-color:#df7c11;
    border-bottom:solid 5px #a30b65;
    margin: 20px;
    padding: 14px 5px 14px 5px;
    border-radius: 5px;
}

.botonera a:hover {
    background-color:#a30b65;
    
}

footer{
    border-top: solid 5px #df7c11;
    border-radius: 0px;
    margin:0 auto;
    background-color: #a30b65;
    background-repeat: repeat-x;
    height: 230px;
    width:100%;
    text-align: center;
        
 
}

h6{
    font-weight: 500;
    width: 100%;
    text-align: center;
    font-size: 14px; 


}

.centrado{
    display: none;
}